# Author Scraping

In [1]:
from bs4 import BeautifulSoup
import pandas as pd

## HAW

In [2]:
with open("web pages/HAW Hamburg_ Employees.html") as f:
    soup = BeautifulSoup(f, 'html.parser')

In [3]:
def extract_name(tag):
    return " ".join(tag.find_all("td")[2].get_text().split())

def extract_homepage(tag):
    return tag.find_all("td")[2].find("a")["href"]

def extract_department(tag):
    return " ".join(tag.find_all("td")[3].get_text().split())

In [4]:
data_haw = []
for row in soup.find(id="person_table__tbody").find_all("tr"):
    name = extract_name(row)
    homepage = extract_homepage(row)
    department = extract_department(row)

    data_haw.append([name, homepage, department])

In [5]:
data_haw = pd.DataFrame(data_haw, columns = ["Name", "Homepage", "Department"])
data_haw.head()

,Name,Homepage,Department
0,Johann Abrams,https://www.haw-hamburg.de/en/university/emplo...,Department Informatik
1,Christian Ahlf,https://www.haw-hamburg.de/en/university/emplo...,Department Informatik
2,Jakob Andersen,https://www.haw-hamburg.de/en/university/emplo...,Department Informatik Berliner Tor 7 20099 Ham...
3,Behnisch Awis,https://www.haw-hamburg.de/en/university/emplo...,Department Informatik
4,Prof. Dr. Reinhard Baran,https://www.haw-hamburg.de/en/university/emplo...,"Department Informatik Berliner Tor 7, Room 7.8..."

## UHH

In [6]:
with open("web pages/Staff members of Department of Informatics _ Fachbereich Informatik _ Universit√§t Hamburg.html") as f:
    soup = BeautifulSoup(f, 'html.parser')

In [7]:
def extract_name(tag):
    return " ".join(tag.find_all("td")[0].get_text().split())

def extract_group(tag):
    return tag.find_all("td")[1].get_text()

def extract_homepage(tag):
    return tag.find_all("td")[5].find("a")["href"] if tag.find_all("td")[5].find("a") else None

In [8]:
data_uhh = []
for row in soup.find_all("tr"):
    if not row.has_attr("data-initial"):
        continue
    name = extract_name(row)
    homepage = extract_homepage(row)
    group = extract_group(row)

    data_uhh.append([name, homepage, group])

In [9]:
data_uhh = pd.DataFrame(data_uhh, columns = ["Name", "Homepage", "Department"])
data_uhh.head()

,Name,Homepage,Department
0,Fares Abawi,https://www.inf.uni-hamburg.de/en/inst/ab/wtm/...,WTM
1,Ashad Achgarnush,None,WISTS
2,Daniel Ahlers,https://tams.informatik.uni-hamburg.de/people/...,TAMS
3,Kyra Ahrens,https://www.inf.uni-hamburg.de/en/inst/ab/wtm/...,WTM
4,Dr. Philipp Allgeuer,None,WTM

## TUHH

In [10]:
data_tuhh = pd.read_csv("web pages/TUHH CS Team - Sheet1.csv")
data_tuhh.head()

,Name,Forschungsfelder,Institut
0,Prof. Dr. Nihat Ay,Maschinenlernen,E-21
1,PD Dr. Brashant Batra,"Komplexe Analysis, Robuste Steuerung",-
2,Prof. Dr. Matthias Mnich,"Algorithmen, Datenstrukturen",E-11
3,Prof. Dr. Dieter Gollmann (em.),Software- und Netzwerksicherheit,E-15
4,Prof. Dr. Siegfried Rump (em.),"Zuverl√§ssiges Rechnen, Programmierung",E-19

## HSU

In [11]:
data_hsu = pd.read_csv("web pages/HSU CS Team - Sheet1.csv")
data_hsu

,Name,Homepage
0,Prof. Dr. phil. nat. Bernd Klauer,https://www.hsu-hh.de/ti/bernd-klauer
1,Marcel Eckert,https://www.hsu-hh.de/ti/akador-dr-ing-marcel-...
2,Dominik Meyer,https://www.hsu-hh.de/ti/dmeyer
3,Alexander Klemd,https://www.hsu-hh.de/ti/hptm-m-sc-alexander-k...
4,Christina Sander,https://www.hsu-hh.de/ti/christina-sander
5,Uwe Daube,https://www.hsu-hh.de/ti/uwe-daube